<div class="jumbotron">
  <h1>Cars</h1>
  <p>This is a build off of another <a href="https://github.com/sseeaann/nodejs_cars" target="_blank">project</a> utilizing the power of Angular.js. Using Node.js and Mongoose/Mongodb, users can add cars to the database, view each car's profile page, edit and delete the cars. You know, your basic CRUD operations.</p>
  <p><a class="btn btn-info btn-lg" href="#/cars">View Cars</a> <a class="btn btn-success btn-lg" href="#/addCar" role="button">Add a Car</a></p>
</div>