<h1>Cars in database</h1>
<div class="col-xs-3 pull-right">
	<input type="search" class="form-control" placeholder="Search" ng-model="filter">
</div>
<br>
<br>
<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<td>Make</td>
			<td>Model</td>
			<td>Year</td>
			<td>Action</td>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="car in cars | filter: filter">
			<td><span ng-bind="car.make"></span></td>
			<td><span ng-bind="car.model"></span></td>
			<td><span ng-bind="car.year"></span></td>
			<td>
				<a href="#/showCar/{{car._id}}" class="btn btn-info">View</a>
				<a href="#/editCar/{{car._id}}" class="btn btn-warning">Edit</a>
				<button ng-click="deleteCar(car)" class="btn btn-danger">Delete</button>
			</td>
		</tr>
	</tbody>
</table>